body {
  background: radial-gradient(circle, rgba(104, 235, 213, 1) 0%, rgba(170, 76, 146, 1) 100%);
}

.container {
  font-family: tahoma;
  font-weight: 550;
  width: 40%;
  margin: 0 auto;
}

.add-button {
  display: block;
  margin: 20px auto;
  padding: 15px;
  background-color: rgba(170, 76, 146, 1);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

.contact-card {
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.button-group {
  display: flex;
  gap: 10px;
}

.edit-button,
.delete-button {
  padding: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, .3);
}

.edit-button {
  background-color: rgba(104, 235, 213, 1);
  color: black;
}

.delete-button {
  background-color: #6a4caa;
  color: white;
}

.form-container {
  width: 50%;
  margin: 50px auto;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form button {
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px;
}

@media (max-width: 900px) {
  .container {
    width: 80%;
    margin: 0 auto;
  }

  .form-container {
    width: 50%;
    margin: 50px auto;
  }
}

@media (max-width: 600px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }

  .form-container {
    width: 90%;
    margin: 50px auto;
  }
}

@media (max-width: 362px) {

  .edit-button,
  .delete-button,
  .add-button {
    padding: 10px;
  }

  .container {
    font-size: .8rem;
  }
}